/*

<button style="border:10px;background:none;box-sizing:border-box;display:inline-block;font:inherit;font-family:Roboto, sans-serif;tap-highlight-color:rgba(0, 0, 0, 0);cursor:pointer;text-decoration:none;outline:none;transform:translate3d(0, 0, 0);position:relative;height:100%;width:100%;padding:0;overflow:hidden;border-radius:2px;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;background-color:#ff4081;-webkit-appearance:button;" tabindex="0" type="button" >
  <div>
    <div style="transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; top: 0px;" >
      <span style="position:relative;opacity:1;font-size:14px;letter-spacing:0;text-transform:uppercase;font-weight:500;margin:0;padding-left:16px;padding-right:16px;line-height:36px;color:#ffffff;-webkit-user-select:none;">
      Primary
      </span>
    </div>
  </div>
</button>
*/
.wrapper {
  background-color: #ffffff;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-shadow: 0 1px 6px rgba(0,0,0,0.12), 0 1px 4px rgba(0,0,0,0.12);
  border-radius: 2px;
  display: inline-block;
  min-width: 88px;
  height: 36px;
  margin: 12px;
}
.button {
  border:10px;background:none;box-sizing:border-box;display:inline-block;font:inherit;font-family:Roboto, sans-serif;tap-highlight-color:rgba(0, 0, 0, 0);cursor:pointer;text-decoration:none;outline:none;transform:translate3d(0, 0, 0);position:relative;height:100%;width:100%;padding:0;overflow:hidden;border-radius:2px;transition:all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;background-color:#ff4081;-webkit-appearance:button;
  div > div {
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms; top: 0px;
    &:hover {
      background-color: rgba(255, 255, 255, 0.4)
    }
    span {
      position:relative;opacity:1;font-size:14px;letter-spacing:0;text-transform:uppercase;font-weight:500;margin:0;padding-left:16px;padding-right:16px;line-height:36px;color:#ffffff;-webkit-user-select:none;
    }
  }
}